{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://southcentralus.api.cognitive.microsoft.com/customvision/v2.2/Training"
        },
        {
            "url": "{Endpoint}",
            "variables": {
                "Endpoint": {
                    "description": "Supported Cognitive Services endpoints",
                    "x-ms-parameter-location": "client",
                    "x-ms-skip-url-encoding": true,
                    "default": ""
                }
            }
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "microsoft"
        },
        "title": "Custom Vision Training Client",
        "version": "2.2",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Training/stable/v2.2/Training.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "microsoft.com",
        "x-serviceName": "cognitiveservices-Training",
        "x-tags": [
            "Microsoft"
        ]
    },
    "paths": {
        "/domains": {
            "get": {
                "operationId": "GetDomains",
                "parameters": [
                    {
                        "in": "header",
                        "name": "Training-Key",
                        "required": true,
                        "x-ms-client-name": "ApiKey",
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "enabled": {
                                                "readOnly": true,
                                                "type": "boolean",
                                                "nullable": false
                                            },
                                            "exportable": {
                                                "readOnly": true,
                                                "type": "boolean",
                                                "nullable": false
                                            },
                                            "id": {
                                                "format": "uuid",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "name": {
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "type": {
                                                "enum": [
                                                    "Classification",
                                                    "ObjectDetection"
                                                ],
                                                "readOnly": true,
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "modelAsString": true,
                                                    "name": "DomainType"
                                                },
                                                "nullable": false
                                            }
                                        },
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "type": "array",
                                    "nullable": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "enabled": {
                                                "readOnly": true,
                                                "type": "boolean",
                                                "nullable": false
                                            },
                                            "exportable": {
                                                "readOnly": true,
                                                "type": "boolean",
                                                "nullable": false
                                            },
                                            "id": {
                                                "format": "uuid",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "name": {
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "type": {
                                                "enum": [
                                                    "Classification",
                                                    "ObjectDetection"
                                                ],
                                                "readOnly": true,
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "modelAsString": true,
                                                    "name": "DomainType"
                                                },
                                                "nullable": false
                                            }
                                        },
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "type": "array",
                                    "nullable": true
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "enabled": {
                                                "readOnly": true,
                                                "type": "boolean",
                                                "nullable": false
                                            },
                                            "exportable": {
                                                "readOnly": true,
                                                "type": "boolean",
                                                "nullable": false
                                            },
                                            "id": {
                                                "format": "uuid",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "name": {
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "type": {
                                                "enum": [
                                                    "Classification",
                                                    "ObjectDetection"
                                                ],
                                                "readOnly": true,
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "modelAsString": true,
                                                    "name": "DomainType"
                                                },
                                                "nullable": false
                                            }
                                        },
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "type": "array",
                                    "nullable": true
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "enabled": {
                                                "readOnly": true,
                                                "type": "boolean",
                                                "nullable": false
                                            },
                                            "exportable": {
                                                "readOnly": true,
                                                "type": "boolean",
                                                "nullable": false
                                            },
                                            "id": {
                                                "format": "uuid",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "name": {
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "type": {
                                                "enum": [
                                                    "Classification",
                                                    "ObjectDetection"
                                                ],
                                                "readOnly": true,
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "modelAsString": true,
                                                    "name": "DomainType"
                                                },
                                                "nullable": false
                                            }
                                        },
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "type": "array",
                                    "nullable": true
                                }
                            }
                        }
                    }
                },
                "summary": "Get a list of the available domains.",
                "tags": [
                    "DomainsApi"
                ],
                "x-ms-examples": {
                    "Successful GetDomains request": {
                        "parameters": {
                            "Content-Type": "application/json",
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "Training-Key": "{API Key}"
                        },
                        "responses": {
                            "200": {
                                "body": [
                                    {
                                        "exportable": false,
                                        "id": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31",
                                        "name": "General"
                                    },
                                    {
                                        "exportable": false,
                                        "id": "c151d5b5-dd07-472a-acc8-15d29dea8518",
                                        "name": "Food"
                                    },
                                    {
                                        "exportable": false,
                                        "id": "ca455789-012d-4b50-9fec-5bb63841c793",
                                        "name": "Landmarks"
                                    },
                                    {
                                        "exportable": false,
                                        "id": "b30a91ae-e3c1-4f73-a81e-c270bff27c39",
                                        "name": "Retail"
                                    },
                                    {
                                        "exportable": false,
                                        "id": "45badf75-3591-4f26-a705-45678d3e9f5f",
                                        "name": "Adult"
                                    },
                                    {
                                        "exportable": true,
                                        "id": "0732100f-1a38-4e49-a514-c9b44c697ab5",
                                        "name": "General (compact)"
                                    },
                                    {
                                        "exportable": true,
                                        "id": "b5cfd229-2ac7-4b2b-8d0a-2b0661344894",
                                        "name": "Landmarks (compact)"
                                    },
                                    {
                                        "exportable": true,
                                        "id": "6b4faeda-8396-481b-9f8b-177b9fa3097f",
                                        "name": "Retail (compact)"
                                    }
                                ],
                                "headers": {}
                            }
                        }
                    }
                }
            }
        },
        "/domains/{domainId}": {
            "get": {
                "operationId": "GetDomain",
                "parameters": [
                    {
                        "description": "The id of the domain to get information about.",
                        "in": "path",
                        "name": "domainId",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Training-Key",
                        "required": true,
                        "x-ms-client-name": "ApiKey",
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "enabled": {
                                            "readOnly": true,
                                            "type": "boolean",
                                            "nullable": false
                                        },
                                        "exportable": {
                                            "readOnly": true,
                                            "type": "boolean",
                                            "nullable": false
                                        },
                                        "id": {
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "type": {
                                            "enum": [
                                                "Classification",
                                                "ObjectDetection"
                                            ],
                                            "readOnly": true,
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "DomainType"
                                            },
                                            "nullable": false
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "properties": {
                                        "enabled": {
                                            "readOnly": true,
                                            "type": "boolean",
                                            "nullable": false
                                        },
                                        "exportable": {
                                            "readOnly": true,
                                            "type": "boolean",
                                            "nullable": false
                                        },
                                        "id": {
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "type": {
                                            "enum": [
                                                "Classification",
                                                "ObjectDetection"
                                            ],
                                            "readOnly": true,
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "DomainType"
                                            },
                                            "nullable": false
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "properties": {
                                        "enabled": {
                                            "readOnly": true,
                                            "type": "boolean",
                                            "nullable": false
                                        },
                                        "exportable": {
                                            "readOnly": true,
                                            "type": "boolean",
                                            "nullable": false
                                        },
                                        "id": {
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "type": {
                                            "enum": [
                                                "Classification",
                                                "ObjectDetection"
                                            ],
                                            "readOnly": true,
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "DomainType"
                                            },
                                            "nullable": false
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "properties": {
                                        "enabled": {
                                            "readOnly": true,
                                            "type": "boolean",
                                            "nullable": false
                                        },
                                        "exportable": {
                                            "readOnly": true,
                                            "type": "boolean",
                                            "nullable": false
                                        },
                                        "id": {
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "type": {
                                            "enum": [
                                                "Classification",
                                                "ObjectDetection"
                                            ],
                                            "readOnly": true,
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "DomainType"
                                            },
                                            "nullable": false
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            }
                        }
                    }
                },
                "summary": "Get information about a specific domain.",
                "tags": [
                    "DomainsApi"
                ],
                "x-ms-examples": {
                    "Successful GetDomain request": {
                        "parameters": {
                            "Content-Type": "application/json",
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "Training-Key": "{API Key}",
                            "domainId": "b30a91ae-e3c1-4f73-a81e-c270bff27c39"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "exportable": false,
                                    "id": "b30a91ae-e3c1-4f73-a81e-c270bff27c39",
                                    "name": "Retail"
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            }
        },
        "/projects": {
            "get": {
                "operationId": "GetProjects",
                "parameters": [
                    {
                        "in": "header",
                        "name": "Training-Key",
                        "required": true,
                        "x-ms-client-name": "ApiKey",
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "Represents a project.",
                                        "properties": {
                                            "created": {
                                                "description": "Gets the date this project was created.",
                                                "format": "date-time",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "description": {
                                                "description": "Gets or sets the description of the project.",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "id": {
                                                "description": "Gets The project id.",
                                                "format": "uuid",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "lastModified": {
                                                "description": "Gets the date this project was last modified.",
                                                "format": "date-time",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "name": {
                                                "description": "Gets or sets the name of the project.",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "settings": {
                                                "description": "Gets or sets the project settings.",
                                                "properties": {
                                                    "classificationType": {
                                                        "description": "Gets or sets the classification type of the project.",
                                                        "enum": [
                                                            "Multiclass",
                                                            "Multilabel"
                                                        ],
                                                        "type": "string",
                                                        "x-ms-enum": {
                                                            "modelAsString": true,
                                                            "name": "Classifier"
                                                        },
                                                        "nullable": true
                                                    },
                                                    "domainId": {
                                                        "description": "Gets or sets the id of the Domain to use with this project.",
                                                        "format": "uuid",
                                                        "type": "string",
                                                        "nullable": false
                                                    }
                                                },
                                                "type": "object",
                                                "nullable": true
                                            },
                                            "thumbnailUri": {
                                                "description": "Gets the thumbnail url representing the project.",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "type": "array",
                                    "nullable": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "items": {
                                        "description": "Represents a project.",
                                        "properties": {
                                            "created": {
                                                "description": "Gets the date this project was created.",
                                                "format": "date-time",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "description": {
                                                "description": "Gets or sets the description of the project.",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "id": {
                                                "description": "Gets The project id.",
                                                "format": "uuid",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "lastModified": {
                                                "description": "Gets the date this project was last modified.",
                                                "format": "date-time",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "name": {
                                                "description": "Gets or sets the name of the project.",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "settings": {
                                                "description": "Gets or sets the project settings.",
                                                "properties": {
                                                    "classificationType": {
                                                        "description": "Gets or sets the classification type of the project.",
                                                        "enum": [
                                                            "Multiclass",
                                                            "Multilabel"
                                                        ],
                                                        "type": "string",
                                                        "x-ms-enum": {
                                                            "modelAsString": true,
                                                            "name": "Classifier"
                                                        },
                                                        "nullable": true
                                                    },
                                                    "domainId": {
                                                        "description": "Gets or sets the id of the Domain to use with this project.",
                                                        "format": "uuid",
                                                        "type": "string",
                                                        "nullable": false
                                                    }
                                                },
                                                "type": "object",
                                                "nullable": true
                                            },
                                            "thumbnailUri": {
                                                "description": "Gets the thumbnail url representing the project.",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "type": "array",
                                    "nullable": true
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "items": {
                                        "description": "Represents a project.",
                                        "properties": {
                                            "created": {
                                                "description": "Gets the date this project was created.",
                                                "format": "date-time",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "description": {
                                                "description": "Gets or sets the description of the project.",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "id": {
                                                "description": "Gets The project id.",
                                                "format": "uuid",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "lastModified": {
                                                "description": "Gets the date this project was last modified.",
                                                "format": "date-time",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "name": {
                                                "description": "Gets or sets the name of the project.",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "settings": {
                                                "description": "Gets or sets the project settings.",
                                                "properties": {
                                                    "classificationType": {
                                                        "description": "Gets or sets the classification type of the project.",
                                                        "enum": [
                                                            "Multiclass",
                                                            "Multilabel"
                                                        ],
                                                        "type": "string",
                                                        "x-ms-enum": {
                                                            "modelAsString": true,
                                                            "name": "Classifier"
                                                        },
                                                        "nullable": true
                                                    },
                                                    "domainId": {
                                                        "description": "Gets or sets the id of the Domain to use with this project.",
                                                        "format": "uuid",
                                                        "type": "string",
                                                        "nullable": false
                                                    }
                                                },
                                                "type": "object",
                                                "nullable": true
                                            },
                                            "thumbnailUri": {
                                                "description": "Gets the thumbnail url representing the project.",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "type": "array",
                                    "nullable": true
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "items": {
                                        "description": "Represents a project.",
                                        "properties": {
                                            "created": {
                                                "description": "Gets the date this project was created.",
                                                "format": "date-time",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "description": {
                                                "description": "Gets or sets the description of the project.",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "id": {
                                                "description": "Gets The project id.",
                                                "format": "uuid",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "lastModified": {
                                                "description": "Gets the date this project was last modified.",
                                                "format": "date-time",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "name": {
                                                "description": "Gets or sets the name of the project.",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "settings": {
                                                "description": "Gets or sets the project settings.",
                                                "properties": {
                                                    "classificationType": {
                                                        "description": "Gets or sets the classification type of the project.",
                                                        "enum": [
                                                            "Multiclass",
                                                            "Multilabel"
                                                        ],
                                                        "type": "string",
                                                        "x-ms-enum": {
                                                            "modelAsString": true,
                                                            "name": "Classifier"
                                                        },
                                                        "nullable": true
                                                    },
                                                    "domainId": {
                                                        "description": "Gets or sets the id of the Domain to use with this project.",
                                                        "format": "uuid",
                                                        "type": "string",
                                                        "nullable": false
                                                    }
                                                },
                                                "type": "object",
                                                "nullable": true
                                            },
                                            "thumbnailUri": {
                                                "description": "Gets the thumbnail url representing the project.",
                                                "readOnly": true,
                                                "type": "string",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "type": "array",
                                    "nullable": true
                                }
                            }
                        }
                    }
                },
                "summary": "Get your projects.",
                "tags": [
                    "ProjectApi"
                ],
                "x-ms-examples": {
                    "Successful GetProjects request": {
                        "parameters": {
                            "Content-Type": "application/json",
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "Training-Key": "{API Key}"
                        },
                        "responses": {
                            "200": {
                                "body": [
                                    {
                                        "created": "2017-12-18T05:43:18.08Z",
                                        "description": "",
                                        "id": "bc3f7dad-5544-468c-8573-3ef04d55463e",
                                        "lastModified": "2017-12-18T05:43:18.0962423Z",
                                        "name": "My New Project",
                                        "settings": {
                                            "domainId": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31"
                                        },
                                        "thumbnailUri": null
                                    }
                                ],
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "CreateProject",
                "parameters": [
                    {
                        "description": "Name of the project.",
                        "in": "query",
                        "name": "name",
                        "required": true,
                        "x-nullable": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The description of the project.",
                        "in": "query",
                        "name": "description",
                        "required": false,
                        "x-nullable": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The id of the domain to use for this project. Defaults to General.",
                        "in": "query",
                        "name": "domainId",
                        "required": false,
                        "x-nullable": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "description": "The type of classifier to create for this project.",
                        "in": "query",
                        "name": "classificationType",
                        "required": false,
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Multiclass",
                                "Multilabel"
                            ]
                        }
                    },
                    {
                        "in": "header",
                        "name": "Training-Key",
                        "required": true,
                        "x-ms-client-name": "ApiKey",
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents a project.",
                                    "properties": {
                                        "created": {
                                            "description": "Gets the date this project was created.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "description": {
                                            "description": "Gets or sets the description of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "id": {
                                            "description": "Gets The project id.",
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "lastModified": {
                                            "description": "Gets the date this project was last modified.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "description": "Gets or sets the name of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "settings": {
                                            "description": "Gets or sets the project settings.",
                                            "properties": {
                                                "classificationType": {
                                                    "description": "Gets or sets the classification type of the project.",
                                                    "enum": [
                                                        "Multiclass",
                                                        "Multilabel"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "Classifier"
                                                    },
                                                    "nullable": true
                                                },
                                                "domainId": {
                                                    "description": "Gets or sets the id of the Domain to use with this project.",
                                                    "format": "uuid",
                                                    "type": "string",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "thumbnailUri": {
                                            "description": "Gets the thumbnail url representing the project.",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "description": "Represents a project.",
                                    "properties": {
                                        "created": {
                                            "description": "Gets the date this project was created.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "description": {
                                            "description": "Gets or sets the description of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "id": {
                                            "description": "Gets The project id.",
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "lastModified": {
                                            "description": "Gets the date this project was last modified.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "description": "Gets or sets the name of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "settings": {
                                            "description": "Gets or sets the project settings.",
                                            "properties": {
                                                "classificationType": {
                                                    "description": "Gets or sets the classification type of the project.",
                                                    "enum": [
                                                        "Multiclass",
                                                        "Multilabel"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "Classifier"
                                                    },
                                                    "nullable": true
                                                },
                                                "domainId": {
                                                    "description": "Gets or sets the id of the Domain to use with this project.",
                                                    "format": "uuid",
                                                    "type": "string",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "thumbnailUri": {
                                            "description": "Gets the thumbnail url representing the project.",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "description": "Represents a project.",
                                    "properties": {
                                        "created": {
                                            "description": "Gets the date this project was created.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "description": {
                                            "description": "Gets or sets the description of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "id": {
                                            "description": "Gets The project id.",
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "lastModified": {
                                            "description": "Gets the date this project was last modified.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "description": "Gets or sets the name of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "settings": {
                                            "description": "Gets or sets the project settings.",
                                            "properties": {
                                                "classificationType": {
                                                    "description": "Gets or sets the classification type of the project.",
                                                    "enum": [
                                                        "Multiclass",
                                                        "Multilabel"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "Classifier"
                                                    },
                                                    "nullable": true
                                                },
                                                "domainId": {
                                                    "description": "Gets or sets the id of the Domain to use with this project.",
                                                    "format": "uuid",
                                                    "type": "string",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "thumbnailUri": {
                                            "description": "Gets the thumbnail url representing the project.",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "description": "Represents a project.",
                                    "properties": {
                                        "created": {
                                            "description": "Gets the date this project was created.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "description": {
                                            "description": "Gets or sets the description of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "id": {
                                            "description": "Gets The project id.",
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "lastModified": {
                                            "description": "Gets the date this project was last modified.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "description": "Gets or sets the name of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "settings": {
                                            "description": "Gets or sets the project settings.",
                                            "properties": {
                                                "classificationType": {
                                                    "description": "Gets or sets the classification type of the project.",
                                                    "enum": [
                                                        "Multiclass",
                                                        "Multilabel"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "Classifier"
                                                    },
                                                    "nullable": true
                                                },
                                                "domainId": {
                                                    "description": "Gets or sets the id of the Domain to use with this project.",
                                                    "format": "uuid",
                                                    "type": "string",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "thumbnailUri": {
                                            "description": "Gets the thumbnail url representing the project.",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            }
                        }
                    }
                },
                "summary": "Create a project.",
                "tags": [
                    "ProjectApi"
                ],
                "x-ms-examples": {
                    "Successful CreateProject request": {
                        "parameters": {
                            "Content-Type": "application/json",
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "Training-Key": "{API Key}",
                            "description": "A test project",
                            "domainId": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31",
                            "name": "My New Project"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "created": "2017-12-18T05:43:18.08Z",
                                    "description": "A test project",
                                    "id": "bc3f7dad-5544-468c-8573-3ef04d55463e",
                                    "lastModified": "2017-12-18T05:43:18.0962423Z",
                                    "name": "My New Project",
                                    "settings": {
                                        "domainId": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31"
                                    },
                                    "thumbnailUri": null
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            }
        },
        "/projects/{projectId}": {
            "delete": {
                "operationId": "DeleteProject",
                "parameters": [
                    {
                        "description": "The project id.",
                        "in": "path",
                        "name": "projectId",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Training-Key",
                        "required": true,
                        "x-ms-client-name": "ApiKey",
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "summary": "Delete a specific project.",
                "tags": [
                    "ProjectApi"
                ],
                "x-ms-examples": {
                    "Successful DeleteProject request": {
                        "parameters": {
                            "Content-Type": "application/json",
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "Training-Key": "{API Key}",
                            "projectId": "bc3f7dad-5544-468c-8573-3ef04d55463e"
                        },
                        "responses": {
                            "204": {
                                "body": "",
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "GetProject",
                "parameters": [
                    {
                        "description": "The id of the project to get.",
                        "in": "path",
                        "name": "projectId",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Training-Key",
                        "required": true,
                        "x-ms-client-name": "ApiKey",
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents a project.",
                                    "properties": {
                                        "created": {
                                            "description": "Gets the date this project was created.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "description": {
                                            "description": "Gets or sets the description of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "id": {
                                            "description": "Gets The project id.",
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "lastModified": {
                                            "description": "Gets the date this project was last modified.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "description": "Gets or sets the name of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "settings": {
                                            "description": "Gets or sets the project settings.",
                                            "properties": {
                                                "classificationType": {
                                                    "description": "Gets or sets the classification type of the project.",
                                                    "enum": [
                                                        "Multiclass",
                                                        "Multilabel"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "Classifier"
                                                    },
                                                    "nullable": true
                                                },
                                                "domainId": {
                                                    "description": "Gets or sets the id of the Domain to use with this project.",
                                                    "format": "uuid",
                                                    "type": "string",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "thumbnailUri": {
                                            "description": "Gets the thumbnail url representing the project.",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "description": "Represents a project.",
                                    "properties": {
                                        "created": {
                                            "description": "Gets the date this project was created.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "description": {
                                            "description": "Gets or sets the description of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "id": {
                                            "description": "Gets The project id.",
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "lastModified": {
                                            "description": "Gets the date this project was last modified.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "description": "Gets or sets the name of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "settings": {
                                            "description": "Gets or sets the project settings.",
                                            "properties": {
                                                "classificationType": {
                                                    "description": "Gets or sets the classification type of the project.",
                                                    "enum": [
                                                        "Multiclass",
                                                        "Multilabel"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "Classifier"
                                                    },
                                                    "nullable": true
                                                },
                                                "domainId": {
                                                    "description": "Gets or sets the id of the Domain to use with this project.",
                                                    "format": "uuid",
                                                    "type": "string",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "thumbnailUri": {
                                            "description": "Gets the thumbnail url representing the project.",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "description": "Represents a project.",
                                    "properties": {
                                        "created": {
                                            "description": "Gets the date this project was created.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "description": {
                                            "description": "Gets or sets the description of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "id": {
                                            "description": "Gets The project id.",
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "lastModified": {
                                            "description": "Gets the date this project was last modified.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "description": "Gets or sets the name of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "settings": {
                                            "description": "Gets or sets the project settings.",
                                            "properties": {
                                                "classificationType": {
                                                    "description": "Gets or sets the classification type of the project.",
                                                    "enum": [
                                                        "Multiclass",
                                                        "Multilabel"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "Classifier"
                                                    },
                                                    "nullable": true
                                                },
                                                "domainId": {
                                                    "description": "Gets or sets the id of the Domain to use with this project.",
                                                    "format": "uuid",
                                                    "type": "string",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "thumbnailUri": {
                                            "description": "Gets the thumbnail url representing the project.",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "description": "Represents a project.",
                                    "properties": {
                                        "created": {
                                            "description": "Gets the date this project was created.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "description": {
                                            "description": "Gets or sets the description of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "id": {
                                            "description": "Gets The project id.",
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "lastModified": {
                                            "description": "Gets the date this project was last modified.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "description": "Gets or sets the name of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "settings": {
                                            "description": "Gets or sets the project settings.",
                                            "properties": {
                                                "classificationType": {
                                                    "description": "Gets or sets the classification type of the project.",
                                                    "enum": [
                                                        "Multiclass",
                                                        "Multilabel"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "Classifier"
                                                    },
                                                    "nullable": true
                                                },
                                                "domainId": {
                                                    "description": "Gets or sets the id of the Domain to use with this project.",
                                                    "format": "uuid",
                                                    "type": "string",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "thumbnailUri": {
                                            "description": "Gets the thumbnail url representing the project.",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object",
                                    "nullable": true
                                }
                            }
                        }
                    }
                },
                "summary": "Get a specific project.",
                "tags": [
                    "ProjectApi"
                ],
                "x-ms-examples": {
                    "Successful GetProject request": {
                        "parameters": {
                            "Content-Type": "application/json",
                            "Endpoint": "https://westus.api.cognitive.microsoft.com",
                            "Training-Key": "{API Key}",
                            "projectId": "bc3f7dad-5544-468c-8573-3ef04d55463e"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "created": "2017-12-18T05:43:18.08Z",
                                    "description": "A test project",
                                    "id": "bc3f7dad-5544-468c-8573-3ef04d55463e",
                                    "lastModified": "2017-12-18T05:43:18.0962423Z",
                                    "name": "My New Project",
                                    "settings": {
                                        "domainId": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31"
                                    },
                                    "thumbnailUri": null
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "UpdateProject",
                "parameters": [
                    {
                        "description": "The id of the project to update.",
                        "in": "path",
                        "name": "projectId",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "in": "header",
                        "name": "Training-Key",
                        "required": true,
                        "x-ms-client-name": "ApiKey",
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents a project.",
                                    "properties": {
                                        "created": {
                                            "description": "Gets the date this project was created.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "description": {
                                            "description": "Gets or sets the description of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "id": {
                                            "description": "Gets The project id.",
                                            "format": "uuid",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "lastModified": {
                                            "description": "Gets the date this project was last modified.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "name": {
                                            "description": "Gets or sets the name of the project.",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "settings": {
                                            "description": "Gets or sets the project settings.",
                                            "properties": {
                                                "classificationType": {
                                                    "description": "Gets or sets the classification type of the project.",
                                                    "enum": [
                                                        "Multiclass",
                                                        "Multilabel"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "Classifier"
                                                    },
                                                    "nullable": true
                                                },
                                                "domainId": {
[...]
